In [3]:
#Import Libraries
import numpy as np
import pandas as pd

In [4]:
#Open Data Set
data = pd.read_csv('mobileprice.csv')

In [5]:
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [6]:
data.shape

(407, 8)

In [7]:
data.isnull()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
402,False,False,False,False,False,False,False,False
403,False,False,False,False,False,False,False,False
404,False,False,False,False,False,False,False,False
405,False,False,False,False,False,False,False,False
406,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [10]:
#Prepare RAM and Storage Column

In [11]:
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [13]:
print(data.columns)

Index(['Brand', 'Model', 'Storage ', 'RAM ', 'Screen Size (inches)',
       'Camera (MP)', 'Battery Capacity (mAh)', 'Price ($)'],
      dtype='object')

In [14]:
data['RAM '] = data['RAM '].str.replace('GB','').astype('int32')

In [15]:
data['Storage '] = data['Storage '].str.replace('GB','').astype('int32')

In [16]:
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128,6,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256,12,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128,8,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128,6,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128,8,6.4,50 + 12.2,4614,799

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    int32
 3   RAM                     407 non-null    int32
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int32(2), int64(1), object(5)
memory usage: 22.4+ KB

In [18]:
data['Battery Capacity (mAh)'] = data['Battery Capacity (mAh)'].astype('int32')

In [19]:
#Prepare Columns

In [20]:
data['Brand'].value_counts()

Brand
Samsung       79
Xiaomi        67
Oppo          56
Realme        43
Vivo          35
Apple         30
Nokia         28
Motorola      23
OnePlus       15
Huawei        12
Google         7
Asus           4
LG             3
Blackberry     3
Sony           1
CAT            1
Name: count, dtype: int64

In [21]:
len(data['Brand'].value_counts())

16

In [22]:
def add_brands(inpt):
    if inpt == 'Google' or inpt == 'Asus' or inpt == 'LG' or inpt == 'Blackberry' or inpt == 'Sony' or inpt == 'CAT':
        return 'Other'
    else:
        return inpt

data['Brand'] = data['Brand'].apply(add_brands)

In [23]:
data['Brand'].value_counts()

Brand
Samsung     79
Xiaomi      67
Oppo        56
Realme      43
Vivo        35
Apple       30
Nokia       28
Motorola    23
Other       19
OnePlus     15
Huawei      12
Name: count, dtype: int64

In [24]:
data['Model'].value_counts()

Model
Poco X3 Pro           6
Y33s                  5
iPhone XR             5
C21Y                  5
Redmi 10 Prime        5
                     ..
Mi 11 Lite NE         1
Moto G Stylus 2021    1
A54s 5G               1
Galaxy M52            1
Reno3                 1
Name: count, Length: 239, dtype: int64

In [25]:
len(data['Model'].value_counts())

239

In [26]:
data['Model'] = data['Model'].apply(lambda x:" ".join(x.split()[0:1]))

In [27]:
data['Model'].value_counts()

Model
Galaxy    79
Redmi     38
iPhone    30
Moto      21
Poco      15
          ..
A15        1
G10        1
C25        1
X20        1
Reno3      1
Name: count, Length: 93, dtype: int64

In [28]:
def add_model(name):
    if name == 'Galaxy' or name == 'Redmi' or name == 'iPhone' or name == 'Moto' or name == 'Poco':
        return 'Other'
    else:
        return name

data['Model'] = data['Model'].apply(add_model)

In [29]:
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,Other,128,6,6.1,12 + 12 + 12,3095,999
1,Samsung,Other,256,12,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9,128,8,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Other,128,6,6.67,64 + 8 + 5 + 2,5020,279
4,Other,Pixel,128,8,6.4,50 + 12.2,4614,799

In [30]:
data = data.drop(columns=['Model'])

In [31]:
data['Camera (MP)'].value_counts()

Camera (MP)
13MP + 2MP + 2MP          29
48MP + 8MP + 2MP + 2MP    16
48+8+2+2                  13
13MP + 2MP                11
64MP + 8MP + 2MP          11
                          ..
13MP + 5MP + 2MP + 2MP     1
8MP                        1
48MP + 8MP + 5MP + 2MP     1
13MP                       1
48+13+8+2                  1
Name: count, Length: 143, dtype: int64

In [32]:
data['Camera (MP)'] = data['Camera (MP)'].str.replace('MP','')

In [33]:
data['Camera (MP)'].value_counts()

Camera (MP)
13 + 2 + 2        38
48 + 8 + 2 + 2    23
48 + 2 + 2        14
48+8+2+2          13
64 + 8 + 2        13
                  ..
50+20+12+3D        1
64 + 13 + 12       1
48+5+2             1
12+7               1
48+13+8+2          1
Name: count, Length: 116, dtype: int64

In [34]:
data['Camera (MP)'] = data['Camera (MP)'].apply(lambda x:" ".join(x.split()[0:1]))

In [35]:
data['Camera (MP)'].value_counts()

Camera (MP)
48               79
64               66
13               61
50               41
12               25
48+8+2+2         13
108              11
8                 8
64+8+2+2          8
12+12+12          7
12+12             6
64+12+5+5         6
48+8+5+2          5
12.2+16           5
48+2+2            4
48+5+2+2          4
108+13+5          3
13+2+2            3
12+64+12          3
48+8+2            3
48+12+5           2
16+8+8+2          2
108+8+5+2         2
50+16+13+2        2
50+12+40+3D       2
64+12+2+2         2
12+12+8           2
48+16+5+2         2
48+16+2           1
16+8+5            1
64+8+5            1
50+40+12+3D       1
64+2+2            1
108+48+12+3D      1
48+50+2           1
108+48+12+0.3     1
48+13+12+2        1
13+2              1
48+8+5+5          1
64+12+12          1
48+16+8           1
48+12+13          1
40+20+8+ToF       1
25                1
13+5+2            1
40+40+8+3D        1
48+8+5            1
48+48+8+5         1
50+8+16+2         1
50+8+2+2          1
108+12+12         1
50+20+12+3D       1
48+50+8+2         1
108+10+10+12      1
12+7              1
48+5+2            1
13+8+5+2          1
48+13+8+2         1
Name: count, dtype: int64

In [36]:
data['Camera (MP)'] = data['Camera (MP)'].str.replace('+',' ')

In [37]:
data['Camera (MP)'].value_counts()

Camera (MP)
48               79
64               66
13               61
50               41
12               25
48 8 2 2         13
108              11
8                 8
64 8 2 2          8
12 12 12          7
12 12             6
64 12 5 5         6
48 8 5 2          5
12.2 16           5
48 2 2            4
48 5 2 2          4
108 13 5          3
13 2 2            3
12 64 12          3
48 8 2            3
48 12 5           2
16 8 8 2          2
108 8 5 2         2
50 16 13 2        2
50 12 40 3D       2
64 12 2 2         2
12 12 8           2
48 16 5 2         2
48 16 2           1
16 8 5            1
64 8 5            1
50 40 12 3D       1
64 2 2            1
108 48 12 3D      1
48 50 2           1
108 48 12 0.3     1
48 13 12 2        1
13 2              1
48 8 5 5          1
64 12 12          1
48 16 8           1
48 12 13          1
40 20 8 ToF       1
25                1
13 5 2            1
40 40 8 3D        1
48 8 5            1
48 48 8 5         1
50 8 16 2         1
50 8 2 2          1
108 12 12         1
50 20 12 3D       1
48 50 8 2         1
108 10 10 12      1
12 7              1
48 5 2            1
13 8 5 2          1
48 13 8 2         1
Name: count, dtype: int64

In [38]:
def add_camera(val):
    if val == '48' or val == '64' or val == '13' or val == '50' or val == '12':
        return val
    else:
        return 'Other'

data['Camera (MP)'] = data['Camera (MP)'].apply(add_camera)

In [39]:
data['Camera (MP)'].value_counts()

Camera (MP)
Other    135
48        79
64        66
13        61
50        41
12        25
Name: count, dtype: int64

In [40]:
data['Screen Size (inches)'].value_counts()

Screen Size (inches)
6.5               108
6.67               30
6.4                26
6.7                25
6.55               21
6.43               21
6.51               19
6.1                16
6.53               16
6.58               14
6.6                14
6.52               14
6.8                 9
6.44                8
6.39                7
4.7                 5
6.81                5
6                   4
6.3                 4
6.82                4
6.2                 4
6.78                4
5.4                 3
6.62                3
6.9                 3
4.5                 2
5.5                 2
6.49                2
6.72                2
7.6 (unfolded)      1
6.15                1
6.47                1
5.7                 1
6.8 + 3.9           1
6.76                1
6.35                1
6.22                1
5.99                1
5.9                 1
6.56                1
6.57                1
Name: count, dtype: int64

In [41]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].str.replace('+','')

In [42]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].apply(lambda x:" ".join(x.split()[0:1]))

In [43]:
data['Screen Size (inches)'].value_counts()

Screen Size (inches)
6.5     108
6.67     30
6.4      26
6.7      25
6.55     21
6.43     21
6.51     19
6.1      16
6.53     16
6.52     14
6.58     14
6.6      14
6.8      10
6.44      8
6.39      7
4.7       5
6.81      5
6.2       4
6.3       4
6.78      4
6         4
6.82      4
5.4       3
6.62      3
6.9       3
6.72      2
6.49      2
4.5       2
5.5       2
6.22      1
5.99      1
6.35      1
6.76      1
5.9       1
6.56      1
5.7       1
6.47      1
7.6       1
6.15      1
6.57      1
Name: count, dtype: int64

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Storage                 407 non-null    int32
 2   RAM                     407 non-null    int32
 3   Screen Size (inches)    407 non-null    object
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int32
 6   Price ($)               407 non-null    object
dtypes: int32(3), object(4)
memory usage: 17.6+ KB

In [45]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].str.replace('.','')

In [46]:
data['Screen Size (inches)'].value_counts()

Screen Size (inches)
65     108
667     30
64      26
67      25
655     21
643     21
651     19
61      16
653     16
652     14
658     14
66      14
68      10
644      8
639      7
47       5
681      5
62       4
63       4
678      4
6        4
682      4
54       3
662      3
69       3
672      2
649      2
45       2
55       2
622      1
599      1
635      1
676      1
59       1
656      1
57       1
647      1
76       1
615      1
657      1
Name: count, dtype: int64

In [47]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].apply(lambda x:" ".join(x.split()[0:1]))

In [48]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].str[0]

In [49]:
data['Screen Size (inches)'].value_counts()

Screen Size (inches)
6    391
5      8
4      7
7      1
Name: count, dtype: int64

In [50]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].astype(int)

In [51]:
data['Camera (MP)'].value_counts()

Camera (MP)
Other    135
48        79
64        66
13        61
50        41
12        25
Name: count, dtype: int64

In [52]:
data['Price ($)'].value_counts()

Price ($)
$149     18
$199     15
$279     15
$299     14
699      13
         ..
$309      1
$389      1
259       1
$109      1
1049      1
Name: count, Length: 89, dtype: int64

In [53]:
data['Price ($)'] = data['Price ($)'].str.replace('$', '')

In [54]:
data['Price ($)'].value_counts()

Price ($)
149     18
199     15
279     15
299     14
699     13
        ..
309      1
389      1
259      1
109      1
1049     1
Name: count, Length: 89, dtype: int64

In [55]:
data.head()

,Brand,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,128,6,6,12,3095,999
1,Samsung,256,12,6,Other,5000,1199
2,OnePlus,128,8,6,48,4500,899
3,Xiaomi,128,6,6,64,5020,279
4,Other,128,8,6,50,4614,799

In [56]:
data.shape

(407, 7)

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Storage                 407 non-null    int32
 2   RAM                     407 non-null    int32
 3   Screen Size (inches)    407 non-null    int32
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int32
 6   Price ($)               407 non-null    object
dtypes: int32(4), object(3)
memory usage: 16.0+ KB

In [58]:
data['Price ($)'] = data['Price ($)'].str.replace(',', '').str.strip()

In [59]:
data['Price ($)'] = data['Price ($)'].astype(float)

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Storage                 407 non-null    int32
 2   RAM                     407 non-null    int32
 3   Screen Size (inches)    407 non-null    int32
 4   Camera (MP)             407 non-null    object
 5   Battery Capacity (mAh)  407 non-null    int32
 6   Price ($)               407 non-null    float64
dtypes: float64(1), int32(4), object(2)
memory usage: 16.0+ KB

In [61]:
data.shape

(407, 7)

In [62]:
data = pd.get_dummies(data)

In [63]:
data.head(2)

,Storage,RAM,Screen Size (inches),Battery Capacity (mAh),Price ($),Brand_Apple,Brand_Huawei,Brand_Motorola,Brand_Nokia,Brand_OnePlus,...,Brand_Realme,Brand_Samsung,Brand_Vivo,Brand_Xiaomi,Camera (MP)_12,Camera (MP)_13,Camera (MP)_48,Camera (MP)_50,Camera (MP)_64,Camera (MP)_Other
0,128,6,6,3095,999.0,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,256,12,6,5000,1199.0,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True

In [64]:
data.shape

(407, 22)

In [65]:
data = pd.get_dummies(data).astype(int)

In [66]:
data.head()

,Storage,RAM,Screen Size (inches),Battery Capacity (mAh),Price ($),Brand_Apple,Brand_Huawei,Brand_Motorola,Brand_Nokia,Brand_OnePlus,...,Brand_Realme,Brand_Samsung,Brand_Vivo,Brand_Xiaomi,Camera (MP)_12,Camera (MP)_13,Camera (MP)_48,Camera (MP)_50,Camera (MP)_64,Camera (MP)_Other
0,128,6,6,3095,999,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,256,12,6,5000,1199,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,128,8,6,4500,899,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,128,6,6,5020,279,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,128,8,6,4614,799,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [67]:
x  = data.drop('Price ($)', axis=1)
y = data['Price ($)']

In [68]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [69]:
x_train.shape, x_test.shape

((305, 21), (102, 21))

In [70]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ '-->' +str(acc))

In [71]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression()-->0.7511995057201429
Lasso()-->0.7572937096941945
DecisionTreeRegressor()-->0.778625778002789
RandomForestRegressor()-->0.8061314065066038

In [73]:

from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10,50,100],
              'criterion':['squared_error','absolure_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(x_train,y_train)

best_model = grid_fit.best_estimator_
best_model

c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'friedman_mse', 'squared_error', 'poisson', 'absolute_error'}. Got 'absolure_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\model_selection\_search.py:1052: UserWarning: One or more of the test scores are non-finite: [0.79926743 0.81102616 0.81341888        nan        nan        nan
 0.81066207 0.81007412 0.81365613]
  warnings.warn(

RandomForestRegressor(criterion='poisson')

In [74]:
best_model.score(x_test, y_test)

0.7959886412438422

In [75]:
import pickle
with open('predictor.pickle','wb') as file:
    pickle.dump(best_model, file)

In [76]:
x_train.columns

Index(['Storage ', 'RAM ', 'Screen Size (inches)', 'Battery Capacity (mAh)',
       'Brand_Apple', 'Brand_Huawei', 'Brand_Motorola', 'Brand_Nokia',
       'Brand_OnePlus', 'Brand_Oppo', 'Brand_Other', 'Brand_Realme',
       'Brand_Samsung', 'Brand_Vivo', 'Brand_Xiaomi', 'Camera (MP)_12',
       'Camera (MP)_13', 'Camera (MP)_48', 'Camera (MP)_50', 'Camera (MP)_64',
       'Camera (MP)_Other'],
      dtype='object')

In [77]:
best_model.predict([[128,4,6,1,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1]])

c:\Users\ASUS\Desktop\ML\Mobile Phone Price Predictor\model\env\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([526.7])